extends layout

block content
  h1= title
  p Welcome to #{title}
  div(id='drawing-area')
  audio(src='/sounds/small.mp3' preload='auto')
  audio(src='/sounds/medium.mp3' preload='auto')
  audio(src='/sounds/large.mp3' preload='auto')
  script(src='/javascripts/raphael-min.js')
  script(src='/javascripts/script.js')