extends layout

block content
  h1= title
  p Welcome to #{title}
  div(id='drawing-area')
  audio(src='/sounds/beep.mp3' preload='auto')
  audio(src='/sounds/beep2.mp3' preload='auto')
  audio(src='/sounds/beep3.mp3' preload='auto')
  script(src='/javascripts/raphael-min.js')
  script(src='/javascripts/script.js')