body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #646464;
}

a {
  color: #00B7FF;
}

#drawing-area {
	border: 2px solid #ccc;
	width: 1065px;
	height: 519px;
}